* {
    z-index: 10;
    margin: 0;
    border: 10px;
}
body {
    background-image: linear-gradient(180deg, #fca960, #fadbc0);
    background-repeat: no-repeat;
}
.titulo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    width: 30%;
    margin-right: -11%;
}
button {
    z-index: 15;
    color: #ffe9d6;
    float: right;
    display: flex;
    top: auto;
    padding: 10px;
    margin-top: auto;
    margin-left: auto;
    left: auto;
}
#ingredientes {
    margin: auto;
    padding: 50px;
}
#passos {
    margin: 5px;
    padding: auto;
}
#note {
    margin: 5px;
    margin-bottom: 30px;
    padding-top: 10px;
}