* {
    margin: 0;
    border: 10px;
}

.titulo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    width: 30%
}
button {
    color: #c9ced6;
    display: flex;
    top: auto;
    padding: 10px;
    margin: 10px;
    left: auto;
}
#ingredientes {
    margin: auto;
    padding: 50px;
}
#passos {
    margin: 5px;
    padding: auto;
}
#note {
    margin: 5px;
    margin-bottom: 30px;
    padding-top: 10px;
}